.heading {
    color: var(--neutral-on-background-strong);
    text-align: center;
    position: relative;
    white-space: pre-line;
    line-height: 1.2;
}

.button {
    width: fit-content;
    margin: 0 auto;
    position: relative;
}
